@model WebApplicationADs_Eixo2.Models.Deficiencia

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-light" >Nova Deficiência</h1>
<a type="button" class="btn btn-light" asp-action="index">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4z" />
    </svg>  Voltar para Lista
</a>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        @if (TempData["MensagemSucesso"] != null)
        {
            <br />
            <div class="alert alert-success">
                @TempData["MensagemSucesso"]
            </div>
        }
        @if (TempData["MensagemErro"] != null)
        {
            <br />
            <div class="alert alert-danger">
                @TempData["MensagemErro"]
            </div>
        }
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <br />
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>

                <br />
                <div class="form-group">
                    <input type="submit" value="Inserir" class="btn btn-success" />
                </div>
                <br />
            </form>
        </div>
    </div>
</div>

