@using WebApplicationADs_Eixo2.helpers
<link rel="stylesheet" href="~/css/site.css">

<div class="text-center">
    <h1 class="display-4">Chame quando precisar.</h1>    
</div>

<!--nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Minha Aplicação</a>
        //Html.BuildNavbar(new List<MenuItem>
        //{
        //new MenuItem { Text = "Página Inicial", Url = "/" },
        //new MenuItem { Text = "Produtos", Url = "/" },
        //new MenuItem { Text = "Contato", Url = "/" }
        })
    </div>
</nav-->


