*{
    color: #c0c0c0;
    list-style: none;
    margin:0; 
    box-sizing:border-box;
}

.containerAgendamento {
    margin-top: 20px;
    padding: 1.4rem;
    background: #252424;
    min-height: 70vh;
    border-radius: 10px;
}

.container h2 {
    width: fit-content;
}

.listaCalendarios {
    display: flex;
    flex-wrap:wrap;
    gap:10px;
    justify-content:space-around;
    margin-top: 20px;
    padding-left: 0px;
}

.imgIndex {
    width: 5rem;
}

.linkCalendarios {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: fit-content;
    padding: 20px;
    text-decoration: none;
    background: #332288;
    border-radius: 30px;
    box-shadow: 2px 2px 4px 0px #000 inset;
    font-weight: bold;
    transition: transform 0.3s, box-shadow 0.2s ;
}


.linkCalendarios img {
    align-self:center;
}

.linkCalendarios:hover,
.button:hover {
    transform:scale(1.05);
}

.linkCalendarios:active,
.button:active {
    box-shadow: 5px 10px 0px 0px #000 inset;
}

#Aceito {
    background: #E87F18;
}

#Aceito div {
    color :#000;
}

.button {
    color: #c0c0c0;
    text-decoration: none;
    background: #328;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    padding: 0 15px;
    transition: 0.3s;
    cursor:pointer;
}

.button:hover {
    color: #c0c0c0;
}
                                                    /*CSS Details view*/

.row {
    display:flex;
    flex-direction: column;
    gap: 5px;
    
}

.detailsCont {
    width: fit-content;
}

.formDetails {
    display: flex; 
    justify-content:space-between;
    margin-bottom: 10px;
}

.imgAgendado {
    width: 10rem;
    align-self: center;
}


