@using System.Security.Claims;
 @model WebApplicationADs_Eixo2.Models.ViewModels.CalendarioViewModel

@{ var CurrentUserId = int.Parse(User.FindFirst(ClaimTypes.NameIdentifier)?.Value);}

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-light">Calendario</h1>
<a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" asp-action="Create">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
    </svg>Novo Registro
</a>


<div class="container rounded bg-white mt-5 mb-5">
    <br />
    <div id="calendar"></div>
    <br />
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Novo Registro para o calendário</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="Create" data-ajax="true" data-ajax-method="POST" data-ajax-complete="onCreateComplete">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="NovoCalendario.Id" />
                    <input type="hidden" asp-for="NovoCalendario.IdUsuario" value="@CurrentUserId" />

                     @if (User.IsInRole("DEF"))
                    {
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="NovoCalendario.PedindoAjuda" /> Este Registro é um pedido de Ajuda
                            </label>
                        </div>                        
                    }

                    <div class="form-group">
                        <label asp-for="NovoCalendario.Titulo" class="control-label"></label>
                        <input asp-for="NovoCalendario.Titulo" class="form-control" placeholder="Título" />                       
                        <span asp-validation-for="NovoCalendario.Titulo" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="NovoCalendario.Descricao" class="control-label"></label>
                        <textarea rows="5" asp-for="NovoCalendario.Descricao" class="form-control"></textarea>
                        <!--nput asp-for="NovoCalendario.Descricao" class="form-control" /-->
                        <span asp-validation-for="NovoCalendario.Descricao" class="text-danger"></span>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label asp-for="NovoCalendario.DtInicioEvento" class="labels"></label>
                            <input type="date" asp-for="NovoCalendario.DtInicioEvento" class="form-control" placeholder="Data do Envento" />
                            <span asp-validation-for="NovoCalendario.DtInicioEvento" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="NovoCalendario.HoraInicio" class="control-label"></label>
                            <input asp-for="NovoCalendario.HoraInicio" type="time" class="form-control" />
                            <span asp-validation-for="NovoCalendario.HoraInicio" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label asp-for="NovoCalendario.DtFimEvento" class="labels"></label>
                            <input type="date" asp-for="NovoCalendario.DtFimEvento" class="form-control" placeholder="Data do Envento" />
                            <span asp-validation-for="NovoCalendario.DtFimEvento" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="NovoCalendario.HoraFim" class="control-label"></label>
                            <input asp-for="NovoCalendario.HoraFim" type="time" class="form-control" />
                            <span asp-validation-for="NovoCalendario.HoraFim" class="text-danger"></span>
                        </div>
                    </div>                   
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Inserir</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>

@section Scripts {
    <!--  CALENDARIO-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/fullcalendar-6.1.9/packages/core/index.global.min.js"></script>
    <script src="~/lib/fullcalendar-6.1.9/packages/daygrid/index.global.min.js"></script>
    <script src="~/lib/fullcalendar-6.1.9/packages/timegrid/index.global.min.js"></script>    

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: '/Calendario/GetCalendarioData',
                locale: 'pt-br'

            });
            calendar.render();
        });
    </script>
    <!-- FIM CALENDARIO-->

    <script>
        function onCreateComplete(data) {
            e.preventDefault(); 
            if ($.trim(data.responseText) !== "") {
                var response = $(data.responseText);
                var validationSummary = response.find("[data-valmsg-summary=true]").text();

                if (validationSummary.length > 0) {
                    $('#staticBackdrop .modal-body').html(data.responseText);
                    $('#staticBackdrop').modal('show');
                } else {
                    $('#staticBackdrop').modal('hide');
                }
            }
        }
    </script>
}