<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - CQP</title>
    <!-- Outros metadados e links -->
    <link rel="stylesheet" href="~/css/profile.css">
    <!-- Referência aos arquivos CSS do Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!--link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /-->
    <link rel="stylesheet" href="~/WebApplicationADs_Eixo2.styles.css" asp-append-version="true" />
</head>
<body>
    <audio id="audioElement">
        <source src="~/audio/happy-logo-167474.mp3" type="audio/mpeg">
        Faça Login
    </audio>
    <header id="header">        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">CQP</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("ADM"))
                    {
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item"> <a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Usuarios" asp-action="Index">Cadastro de Usuários</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Perfils" asp-action="Index">Cadastro de Perfis</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Notificacoes" asp-action="Index">Notificações</a></li>
                                <li class="nav-item"><a class="nav-link" asp-controller="Deficiencia" asp-action="Index">Deficiências</a></li>
                        </ul>
                    }
                    @if (User.IsInRole("DEF"))
                    {
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item"> <a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Calendario" asp-action="Index">Calendário</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Preferencias" asp-action="Index">Preferência de Atendimento</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Agendamento" asp-action="Index">Agendamento</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Notificacoes" asp-action="Index">Notificacoes</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Amigos" asp-action="Index">Amigos</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Usuarios" asp-action="PerfilUsuario" asp-route-id="@User.FindFirst("CodigoUsuario")?.Value">Meu Perfil</a></li>
                        </ul>
                        
                    }
                    @if (User.IsInRole("COL"))
                    {
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Calendario" asp-action="Index">Calendário</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Agendamento" asp-action="Index">Agendamento</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Notificacoes" asp-action="Index">Notificacoes</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Amigos" asp-action="Index">Amigos</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Usuarios" asp-action="PerfilUsuario" asp-route-id="@User.FindFirst("CodigoUsuario")?.Value">Meu Perfil</a></li>
                        </ul>                           
                    }
                    
                    <ul class="nav navbar-nav navbar-right">                        
                        <li class="nav-item"><a class="nav-link" href="#"><span class="glyphicon glyphicon-user"></span>  Olá,@User.Identity.Name</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="Usuarios" asp-action="Logout">Sair</a></li>
                    </ul>                           

                }
                else
                {
                     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                         <li class="nav-item"><a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a></li>
                     </ul>
                    <ul class="nav navbar-nav navbar-right">                        
                        <li class="nav-item"><a class="nav-link" asp-controller="Usuarios" asp-action="CadastroUser"><span class="glyphicon glyphicon-log-in"></span> Cadastro</a></li>
                        <li class="nav-item"><a class="nav-link" id="botaologin" asp-controller="Usuarios" asp-action="Login"><span class="glyphicon glyphicon-user"></span> Login</a></li>
                    </ul>
                    
                }
                </div>                
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
       
    </footer>


    <!-- Conteúdo da página -->
    <!-- Referência aos scripts JavaScript do Bootstrap (jQuery é uma dependência) -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--script src="~/js/bootstrap.js"></!--script-->

    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>

<!--script>
    
    var audioElement = document.getElementById('audioElement');   
    var button = document.getElementById('botaologin');    
    button.addEventListener('mouseenter', function () {
        audioElement.play();
    });   
    button.addEventListener('mouseleave', function () {
        audioElement.pause();
        audioElement.currentTime = 0; 
    });
</script-->
</html>
